<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/final</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">8466</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.show_sql">true</property>

	<mapping class="com.my.spring.pojo.Board" />
	<mapping class="com.my.spring.pojo.Message" />
		<mapping class="com.my.spring.pojo.BoardManager" />
		<mapping class="com.my.spring.pojo.Post" />
		<mapping class="com.my.spring.pojo.Reply" />
		<mapping class="com.my.spring.pojo.User" />

	</session-factory>
</hibernate-configuration>
